

body{
    font-family: arial, sans-serif;
    background: linear-gradient(108.7deg, rgb(224, 235, 213) 8.1%, rgb(37, 148, 141) 91.2%);
           
}


h1{
    
    font-size: 24px;
    font-weight: bolder;
    line-height: 28px;
    margin-bottom: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
   
    margin:0;
    padding: 0;
    
    font-size: 16px;
font-weight: bolder;
    line-height: 19px;
}
li::first-letter{
text-transform: capitalize;
}
.strawberry-weather-shield{
max-width: 600px;
    margin: 30px auto;
}
.strawberry-weather {
    
    padding: 20px;
    border: 1px solid #000306;
    border-radius: 10px;
}
.headview{
    margin-bottom: 20px;
}
.weather-temperature img{
margin-right: 5px;
height: 64px;
width:64px;
}
.weather-temperature strong{
    color:rgb(33, 33, 33);
    font-size: 64px;
    line-height: 64px;
    font-weight: bolder;
}
.weather-temperature .unit{
position: relative;
font-size: 16px;
font-weight: bolder;
top: -34px;
}
.weather-temperature .active{
    color:rgb(33, 33, 33);
    cursor: default;
    font-weight: bolder;
}
.weather-temperature .active:hover {
    text-decoration: none;
}
.weather-forecast{
    margin-top: 20px;
    text-align: center;
    font-weight: bolder;
}
.weather-forecast-date{
    font-size: 16px;
    opacity: 0.6;
    font-weight: bolder;
}
.weather-forecast-temperature-min {
    opacity: 0.6;
    font-weight: bolder;
}
.weather-forecast-temperature{
    font-size: 13px;
    font-weight: bolder;
}
@media (max-width: 900px) {
    h1{
        font-size: 15px;
    }

        li {
            font-size: 12px;
 }

 .weather-temperature strong {
     font-size: 10px;
 }

 .weather-temperature .unit {
     font-size: 10px;
}

.weather-forecast-date {
    font-size: 12px;
   
}

.weather-forecast-temperature {
    font-size: 10px;
}

 .btn {
     padding: 0;
     font-size: 12px;
 }

}